name: 'CI'
on:
  pull_request:
  push:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version-file: '.nvmrc'
          cache: 'npm'
      - name: Install dependencies
        run: |
          npm install
      - name: Build + package + tests
        run: |
          npm run all
      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v5
  test: # make sure the action works on a clean machine without building
    strategy:
      matrix:
        os: [windows-latest, ubuntu-latest, macos-latest, ubuntu-22.04]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v6
      - uses: ./
        with:
          groovy-version: 4.x
      - name: Echo GROOVY_HOME
        run: echo $GROOVY_HOME
      - name: Display groovy version
        run: groovy --version
